@use '../../../../styles/variables' as*;


.carsSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #F2EEFF;
    .carsSectionContainer{
        width: $container-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .loadingContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        button{
            border: none;
            border-radius: 10px;
            padding: 10px 16px;
            background-color: $card-border-color;
            color: white; 
            &:hover{
                background-color: blue;
            }
        }
    }
}
